<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="#">Sair</a>
        </div>
        <hr>
        <ul class="nav-list">
            <a href="#">Home</a>
            <br>
            <a href="">Ver pedidos</a>
            <br>
            <a href="">Colaboradores</a>
            <br>
            <a href="">Etapas de Recebimento</a>
        </ul>
    </div>

    <section class="container">
        <h2>Home</h2>
        <hr>
    </section>

    <div class="button-navegadores">
        <button><a href="">Ver pedidos</a></button>
        <button><a href="">Colaboradores</a></button>
        <button><a href="">Etapas de recebimento</a></button>
        <br><br>
        <button><a href="">Notas Fiscais</a></button>
    </div>
</body>
</html>