<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Regras de Recebimento</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimento</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Cadastro de Regras de Recebimento</h2>
        <hr>
    </section>
    <br><br>

    <form method="post" action="">
        <p>Crie uma Nova Regra de Recebimento</p>
        <hr>
        <br>
        <div class="campo-duplo">
            <div class="info-conta">
                <label>Etapa de Recebimento:</label>
                <br>
                <input type="text">
            </div>

            <div class="info-conta">
                <label>Produto:</label>
                <br>
                <input type="text">
            </div>
        </div>

        <div class="campo-duplo">
            <div class="info-conta">
                <label>Previsão de Entrega:</label>
                <br>
                <input type="text" name="tituloRegraRecebimento" required>
            </div>

            <div class="info-conta">
                <label>Quantidade Aceitável do produto</label>
                <br>
                <input type="text">
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Prazo Máximo de Recebimento:</label>
                <br>
                <input type="text">
            </div>

            <div class="info-conta">
                <label>Quantidade Aceitável do Volume:</label>
                <br>
                <input type="text">
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Variação Aceitável em Porcentagem:</label>
                <br>
                <input type="text" name="numPorcentagem" required>
            </div>
        </div>

        <input type="submit" name="cadastrar" class="cadastrar" value="Cadastrar">
    </form>
</body>

</html>