<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar colaboradores</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimento</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Cadastrar colaboradores</h2>
        <hr>
    </section>
    <br><br>

    <form method="post" action="">
        <p>Dados Gerais</p>
        <hr>
        <br>
        <div class="campo-unico">
            <div class="info-conta">
                <label>Nome:</label>
                <input type="text" name="nome" required>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>CPF:</label>
                <input type="text" maxlength="11" name="cpf" required>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label></label>
            </div>
        </div>

            <div class="funcao">
                <p>Função</p>
                <hr>
                <br>
                <input type="radio" name="portaria" required>
                <label>Portaria</label>
                <input type="radio" name="regulamentacao" required>
                <label>Regulamentação</label>
                <br>
                <input type="radio" name="conferenciaQuantitativa" required>
                <label>Conferência Quantitativa</label>
                <input type="radio" name="conferenciaQualitativa" required>
                <label>Conferência Qualitativa</label>
            </div>
        </div>

        <input type="submit" class="cadastrar" value="Cadastrar">
    </form>
</body>

</html>