<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimento</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Cadastro de Produto</h2>
        <hr>
    </section>

    <div class="info-prod">
        <label>Nome do produto:</label>
        <input type="text">
        <br><br>
        <label>Tipo de Produto:</label>
        <select name="product" id="product" class="select" required>
            <option value="selecione">Selecione</option>
            <option value="grao">Grão</option>
            <option value="semente">Semente</option>
            <option value="flor">Flor</option>
        </select>
        <br><br>
        <label>Especificação do Produto:</label>
        <input type="text">
        <br><br>
        <label>Peso do Produto:</label>
        <input type="text">
        <br><br>
    </div>

    <div class="aprove-prod">
        <ul>
            <button><a href="">Cadastrar</a></button>
        </ul>
    </div>
</body>

</html>