<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Regras de Recebimento</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="#">Sair</a>
        </div>
        <hr>
        <ul class="nav-list">
            <a href="#">Home</a>
            <br>
            <a href="">Ver pedidos</a>
            <br>
            <a href="">Colaboradores</a>
            <br>
            <a href="">Etapas de Recebimento</a>
            <br>
            <a href="">Cadastros</a>
        </ul>
    </div>

    <section class="container">
        <h2>Cadastro de Regras de Recebimento</h2>
        <hr>
    </section>
    <br><br>

    <form method="post" action="">
        <p>Crie uma Nova Regra de Recebimento</p>
        <hr>
        <br>
        <div class="campo-duplo">
            <div class="info-conta">
                <label>Etapa de Recebimento:</label>
                <br>
                <select name="etapa" id="etapa" class="select" required></select>
            </div>

            <div class="info-conta">
                <label>Produto:</label>
                <br>
                <select name="produto" id="produto" class="select" required></select>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Titulo de Regra de Recebimento</label>
                <br>
                <input type="text" name="tituloRegraRecebimento" required>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Tipo de Verificação</label>
                <br>
                <select name="verificacao" id="verificacao" class="select"></select>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Variação Aceitável em Porcentagem:</label>
                <br>
                <input type="text" name="numPorcentagem" required>
            </div>
        </div>

        <input type="submit" name="cadastrar" class="cadastrar" value="Cadastrar">
    </form>
</body>

</html>