<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboradores</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimento</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Colaboradores</h2>
        <hr>
    </section>

    <form method="post" action="../templates/cadastro_colaboradores_adm.html">
        <button type="submit" class="cadastrar" name="cadastrar"><a href="../templates/cadastro_colaboradores_adm.html">Cadastrar Colaborador</a></button>
        <br><br>
        <div class="info-conta">
            <label>Nome: </label>
            <span>{{ session['nomeColaborador'] }}</span>
            <br><br>
            <label>Função: </label>
            <span>{{ session['funcaoAdministrativa'] }}</span>
            <br><br>
            <label>RM: </label>
            <span>{{ session['matriculaColaborador'] }}</span>
        </div>
    </form>
</body>

</html>