<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferência Qualitativa</title>
</head>
<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeColaborador3'] }}</h1>
            <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            <br>
            <label>RM: {{ session['matriculaColaborador3'] }}</label>
            <br><br><br>
            <a href="#">Sair</a>
        </div>
        <hr>
        <ul class="nav-list">
            <a href="#">Home</a>
            <br><br>
            <a href="">Conferencia Qualitativa</a>
        </ul>
    </div>

    <section class="container">
        <h2>Conferência Qualitativa</h2>
        <hr>
    </section>

    <div class="info-ped">
        <label class="checkbox">Havia alguma avaria no produto?</label>
        <input type="checkbox" name="conferir" required>
        <span>Sim</span>
        <input type="checkbox" name="conferir" required>
        <span>Não</span>
        <br>
        <label class="checkbox">O produto foi mau acondicionado?</label>
        <input type="checkbox" name="conferir" required>
        <span>Sim</span>
        <input type="checkbox" name="conferir" required>
        <span>Não</span>
        <br><br>
    </div>

    <div class="aprove-prod">
        <ul class="aprove-prod">
            <a href="">Reprovar Conferência</a>
            <button><a href="">Confirmar Conferência</a></button>
        </ul>
    </div>
</body>
</html>