<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada de Materiais</title>
</head>
<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeColaborador1'] }}</h1>
            <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            <br>
            <label>RM: {{ session['matriculaColaborador1'] }}</label>
            <br><br><br>
            <a href="#">Sair</a>
        </div>
        <hr>
        <ul class="nav-list">
            <a href="#">Home</a>
            <br><br>
            <a href="">Entrada de Materiais</a>
        </ul>
    </div>

    <section class="container">
        <h2>Entrada de produtos</h2>
        <hr>
    </section>

    <div class="numero-ped">
        <label>Número do pedido:</label>
        <input type="text">
        <button type="submit" class="pesquisar"></button>
    </div>

    <div class="info-ped">
        <label>Número do pedido:</label>
        <span>{{ session["numeroPedido"] }}</span>
        <br>
        <label>Nome do produto:</label>
        <span>{{ session["pedidoNome"] }}</span>
        <br>
        <label>Fornecedor:</label>
        <span>{{ session["fornecedorNome"] }}</span>
        <br>
        <label>Data e Hora:</label>
        <span>{{ session["dataEntradaPedido"] }}</span>
        <span>{{ session["horaEntradaPedido"] }}</span>
        <br>
        <label>Transportadora:</label>
        <span>{{ session["transportadoraNome"] }}</span>
        <br>
        <label>Tipo de frete:</label>
        <span>{{ session["tipoFreteNome"] }}</span>
        <br><br>
        <button><a href="">Ver nota fiscal</a></button>
        <button><a href="">Ver relatório de compra</a></button>
        <br><br>
    </div>

    <div class="aprove-prod">
        <ul class="aprove-prod">
            <a href="">Reprovar entrada</a>
            <button><a href="">Confirmar entrada</a></button>
        </ul>
    </div>
</body>
</html>