<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapas de recebimento</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeAdm'] }}</h1>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimento</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Etapas de Recebimentos</h2>
        <hr>
    </section>

    <div class="button-pedidos">
        <button><img src="../static/img/portaria.png" alt="portaria" name="portaria"><a href="">Portaria</a></button>
        <button><img src="../static/img/quantidade.png" alt="quantidade" name="quantidade"><a href="">Conferência Quantitativa</a></button>
        <button><img src="../static/img/qualidade.png" alt="qualidade" name="qualidade"><a href="">Conferência Qualitativa</a></button>
        <br><br>
        <button><img src="../static/img/regulamentacao.png" alt="regulamentacao" name="regulamentacao"><a href="">Regulamentação</a></button>
    </div>
</body>

</html>