<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeColaborador1'] }}</h1>
            <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            <br>
            <label>RM: {{ session['matriculaColaborador1'] }}</label>
            <br><br><br>
            <a href="#">Sair</a>
        </div>
        <hr>
        <ul class="nav-list">
            <a href="#">Home</a>
            <br><br>
            <a href="">Entrada de Materiais</a>
        </ul>
    </div>

    <section class="container">
        <h2>Home</h2>
        <hr>
    </section>

    <div class="info-ped">
        <label>Número do pedido:</label>
        <input type="text">
        <button type="submit" class="pesquisar"></button>
    </div>
</body>
</html>