<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            <h1>Nome: {{ session['nomeColaborador3'] }}</h1>
            <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            <br>
            <label>RM: {{ session['matriculaColaborador3'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_conferencia_qualitativa.html">Home</a>
                <br><br>
                <a href="">Conferência Qualitativa</a>
            </ul>
        </div>
    </div>

    <section class="container">
        <h2>Home</h2>
        <hr>
    </section>

    <div class="numero-ped">
        <label>Número do pedido:</label>
        <input type="text">
        <button type="submit" class="btn_pesquisar" name="pesquisar"><img src="../static/img/lupa.png" alt="lupa" name="lupa"></button>
        <br><br><br><br>
    </div>

    <div class="info-ped">
        <label>Número do pedido:</label>
        <span>{{ session["numeroPedido"] }}</span>
        <br>
        <label>Nome do produto:</label>
        <span>{{ session["pedidoNome"] }}</span>
        <br>
        <label>Fornecedor:</label>
        <span>{{ session["fornecedorNome"] }}</span>
        <br><br>
        <button><a href="">Ver Detalhes</a></button>
    </div>
</body>

</html>