<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras de Recebimento</title>
</head>

<body>
    <div class="sidebar">
        <div class="info-adm">
            N<h1>ome: {{ session['nomeAdm'] }}</h1>
            <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            <br>
            <label>RM: {{ session['matriculaAdm'] }}</label>
            <br><br><br>
            <a href="../templates/login.html">Sair</a>
            <hr>
            <ul class="nav-list">
                <a href="../templates/home_adm.html">Home</a>
                <br>
                <a href="../templates/ver_pedidos_adm.html">Ver pedidos</a>
                <br>
                <a href="../templates/colaboradores_adm.html">Colaboradores</a>
                <br>
                <a href="../templates/etapas_recebimento_adm.html">Etapas de Recebimento</a>
                <br>
                <a href="../templates/cadastros_adm.html">Cadastros</a>
                <br>
                <a href="../templates/regras_recebimento_adm.html">Regras de Recebimentos</a>
            </ul>
        </div>
    </div>

    <form method="post" action="">
        <button type="submit" class="cadastrar" name="cadastrar"><a href="../templates/cadastro_regras_recebimento_adm.html">Cadastrar Regras de Recebimento</a></button>
        <br><br>
        <label>Nome do Produto:</label>
        <span>{{ session['nomePedido'] }}</span>
        <br>
        <label>Peso ideal:</label>
        <span>{{ session['pesoPedido'] }}</span>
        <br><br>
    </form>
</body>

</html>